spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        # User Service Routes
        - id: user-service-auth
          uri: lb://user-service
          predicates:
            - Path=/auth/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenish-rate: 10
                redis-rate-limiter.burst-capacity: 20

        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/users/**
          filters:
            - JwtAuthenticationGatewayFilterFactory

        # Product Service Routes
        - id: product-service-public
          uri: lb://product-service
          predicates:
            - Path=/products
            - Method=GET

        - id: product-service-public-by-id
          uri: lb://product-service
          predicates:
            - Path=/products/{id}
            - Method=GET

        - id: product-service-protected
          uri: lb://product-service
          predicates:
            - Path=/products/**
          filters:
            - JwtAuthenticationGatewayFilterFactory

        # Media Service Routes
        - id: media-service
          uri: lb://media-service
          predicates:
            - Path=/media/**
          filters:
            - JwtAuthenticationGatewayFilterFactory
            - name: RequestSize
              args:
                maxSize: 2MB

      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns: '*'
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: '*'
            allowCredentials: true
            maxAge: 3600

server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    instance-id: ${spring.application.name}:${server.port}
    hostname: localhost

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: DEBUG

application:
  security:
    jwt:
      secret-key: mySecretKey