spring:
  application:
    name: product-service
  
  data:
    mongodb:
      database: product_service_db
      host: localhost
      port: 27017

server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    instance-id: ${spring.application.name}:${server.port}
    hostname: localhost

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always

jwt:
  secret: mySecretKey
  expiration: 86400000