services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile
    platform: linux/amd64
    container_name: jenkins
    ports:
      - '9090:8080'
      - '50000:50000'
    volumes:
      - ~/jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    security_opt:
      - seccomp:unconfined
    cap_add:
      - SYS_ADMIN
    restart: unless-stopped
