spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      default-filters:
        - name: DedupeResponseHeader
          args:
            name: Access-Control-Allow-Origin
            strategy: RETAIN_FIRST
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - 'http://localhost:4200'
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: '*'
            allowCredentials: true
            maxAge: 3600
      routes:
        # Auth routes (no auth)
        - id: user-service-auth
          uri: lb://user-service
          predicates:
            - Path=/auth/**

        # User Service routes
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/users/**

        # Public Product routes (no auth)
        - id: product-service-public
          uri: lb://product-service
          predicates:
            - Path=/products
            - Method=GET

        - id: product-service-public-by-id
          uri: lb://product-service
          predicates:
            - Path=/products/{id}
            - Method=GET

        # Protected product routes (auth required)
        - id: product-service-protected
          uri: lb://product-service
          predicates:
            - Path=/products/**

        # Media Service Routes (auth requiered for uploads)
        - id: media-service
          uri: lb://product-service
          predicates:
            - Path=/media/**
          filters:
            - name: RequestSize
              args:
                maxSize: 2MB

server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
  endpoint:
    health:
      show-details: always

logging:
  level:
    '[org.springframework.cloud.gateway]': DEBUG
    '[reactor.netty]': DEBUG

application:
  security:
    jwt:
      secret-key: D341j5kfy5b3uFW/Xcw0KvP4/gfwho2UzAXAI6fGpUc=
      expiration: 86400000